* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    position: sticky;
    top: 0;          

    width:100%;     
    height: 80px;   

    border-bottom: 1px solid #000000;
    
    padding-top:16px ;
    padding-bottom: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    
}



    


.nav{
    
    min-width: 440px;
}



.nav-logo-text{
    width: 108px;

/* height: 29px; */

opacity: 0px;
font-family: Bebas Neue;
font-size: 42px;
font-weight: 400;
line-height: 42px;
letter-spacing: -0.04em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
cursor: pointer;
margin-left: 43px;



}
.action{
    display: flex;
    flex-shrink: 5;
    margin: auto ;
    margin-right: 4%;
    gap: 32px;
    min-width: Hug (362px);
    height: Hug (32px);
    cursor: pointer;
}
.gh:hover{
    
    border-bottom: 1px solid black;

}


.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;
    gap: 48px;
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;

    min-width: 440px;
    
}

.hero h1 {
    font-family: 
    Bebas Neue;
    font-size: 120px;
    line-height: 120px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    width: 100%;
    
}

.hero-image {
    width: 100%;
    height: 672px;
    border-radius: 56px;
    object-fit: cover;
}
.hero-image img {
    width: 100%;
    
    height: 672px;
    border-radius: 56px;
    object-fit: cover;
}
.words {
    position: relative;
    /* position: static; */
    animation: move-words 15s linear infinite;
    margin: 0;
  }
.yellow{
    color: #e6c007;
    font-size: 150px;
}

  /* @keyframes move-words {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  } */

.about-section{
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 440px;

}
.about{
    
    width: 900px;
height: 156px;
max-width: 900px;




}
.about p{
    font-family: Bebas Neue;
font-size: 48px;
font-weight: 400;
line-height: 52px;
letter-spacing: -0.01em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;



text-align: center;

}

.card-section{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px;
    min-width: 440px;
}

.card{
    width: 648px;
height: 154px;
gap: 0px;
opacity: 0px;




}
.card p{
    font-family: Roboto Mono;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.005em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.hehe{
    min-width: 440px;
}
.slider{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    overflow-x: auto;
}
.slide-track{
    display: flex;
    gap: 48px;
    width: calc(540px * 18);
}
.slide{
    width: 540px;
    height: 420px;
    display: flex;
    align-items: center;
    padding: 15px;
}
img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
img:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.chmod{
    min-width: 440px;
}

.photos{
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.photos>a{
    text-decoration: none;
    font-family: Roboto Mono;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;

}
.pro-text{
    font-family: Roboto Mono;
font-size: 17px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #000000;
}

.sale_item{
width: 416px;
height: 277px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
display: block;

}

.pro{
    text-decoration: none;
}


.clients-section{
    width: Fill (1,344px)px;
height: Hug (484px)px;
padding: 48px 0px 48px 0px;
gap: 48px;
border: 0px 0px 1px 0px;
opacity: 0px;
min-width: 440px;


}





.clients{
    font-family: Bebas Neue;
font-size: 48px;
font-weight: 400;
line-height: 70px;
letter-spacing: -0.01em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;


}

.testimonialCard{
    width: Fixed (288px)px;
height: Hug (288px)px;
padding: 24px;
gap: 16px;
border-radius: 16px;
border: 1px ;
opacity: 0px;
border: 1px solid #000000;
margin: 5px 5px 5px 5px;
cursor: pointer;

}

.container{
    width: Fill (240px)px;
    height: Hug (48px)px;
    gap: 12px;
    opacity: 0px;
    

}

.profile>img{
    width: 48px;
height: 48px;
gap: 0px;
border-radius: 999px ;
border: 1px ;
opacity: 0px;

}

.textcontent{
    width: Fill (180px)px;
height: Hug (40px)px;
gap: 0px;
opacity: 0px;
margin-left: 10px;



}


.name{
    width: 180px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    
}
.name>p{
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    
}


.position{
    width: 180px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    
}
.position>p{
    font-family: Roboto Mono;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    
}

.quotecontainer{
    width: Fill (240px)px;
height: Hug (176px)px;
padding: 0px 0px 8px 0px;
gap: 12px;
opacity: 0.8px;

}

.linecontainer{
    width: Fill (240px)px;
height: Hug (176px)px;
padding: 0px 0px 8px 0px;
gap: 12px;
opacity: 0.8px;
display: inline-block;
margin-top: 19px;

}

.line{
    width: 0px;
height: 150px;
gap: 0px;
border-radius: 1px 0px 0px 0px;
border-left: 1px 0px 0px 0px;
opacity: 0px;
display: inline-block;

border: 1px solid #000000;


}
.quote{
    width: 180px;
height: 168px;
gap: 0px;
opacity: 0px;
display: inline-block;




}
.quote>p{
    font-family: Roboto Mono;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-left: 6px;



}

.profile{
    width: 48px;
height: 48px;
gap: 0px;
border-radius: 999px ;
border: 1px ;
opacity: 0px;

}
.flex{
    display: flex;
    
}


.contact{
    width: Fill (1,344px)px;
height: Hug (700px)px;
min-height: 700px;
padding: 200px;
gap: 48px;
border-top: 2px solid black;


min-width: 440px;

}
.verification{
    width: Fixed (400px)px;
height: Hug (296px)px;
gap: 32px;
opacity: 0px;




}
.con{
    width: Fill (400px)px;
height: Hug (80px)px;
gap: 8px;


margin: 30px;



/* display: inline-flexbox; */




}
.con>p{
    font-family: Bebas Neue;
font-size: 40px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.01em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

margin: 20px;
/* text-align: center; */
display: flex;

justify-content: center;
align-items: center;

}


.con>.sec{
    font-family: Roboto Mono;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

/* display: flex;

justify-content: center;
align-items: center; */

}

.otp{

display: flex;
justify-content: center;
align-items: center;
gap: 15px;


}

.oo{
    width: 56px;
height: 60px;
padding: 8px 16px 8px 16px;

border-radius: 8px;
border-top: 1px solid #000000;
text-align: center;



font-family: Roboto Mono;

}


.send{
    margin-top: 30px;
    display: flex;
    justify-content: center;

   
}
.sent{
    width: 300px;
    height: 30px;

    border-radius: 8px;

    cursor: pointer;

    background-color: #000000;
    color: white;

    font-family: Roboto Mono;
    
}
.sent:hover{
    background-color: white;
    color: black;

}
.skip{
    width: 300px;
    height: 30px;

    border-radius: 8px;

    cursor: pointer;

    background-color: white;
    color: black;
    border: none;

    font-family: Roboto Mono;
}

.last{

    
    opacity: 0px;
    font-family: Bebas Neue;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    cursor: pointer;
    margin-left: 43px;
    
    
}

footer{
    display: flex;
    justify-content: space-between;
    
    align-items: center;


    margin-right: 10px;

    margin-bottom: 20px;

    min-width: 440px;

}

.back{
    width: 150px;
    height: 50px;


    border-radius: 8px;

    cursor: pointer;

    background-color: white;
    color: black;

    font-family: Roboto Mono;
}



@media (max-width: 480px) {
    .nav {
        font-size: 15px;
        width: 100%;
    }
    
    .contact-main-name {
        flex-direction: column;
    }
    
    .First-name, .Last-name {
        width: 100%;
    }
    
    .foot {
        flex-direction: column;
        text-align: center;
    }

    .pro{
        width: 100%;
    }
    footer{
        display: flex;
        justify-content: space-between;

    }
    footer>.back{
        margin-right: 30px;
    }
    /* .con>h1{
        text-align: center;

    } */
    .con>p>p{
        display: none;
        /* font-size: 10px; */

    }

    

    
    
}
@media (max-width: 440px){
    .hero-image{
        width: 100%;
    }
    .card p{
        
    
        text-align: center;
        
        }
    
}


@media only screen and (max-width: 1100px)
{
    .header-side-name{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px)
{
    .header-side-name{
        font-size: 16px;
    }
}

@media only screen and (max-width: 900px)
{
    .header-side-name{
        display: none;
    }

    .nav-select{
        display: block;
    }
}

@media only screen and (max-width: 650px)
{

    .nav{
        font-size: 15px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .content1-heading{
        font-size: 100px;
    }

    .contact-header-subhead-content{
        font-size: 15px;
    }

}


@media only screen and (max-width: 600px)
{

   .action{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0;
    padding:5px;
   justify-content: space-around;

   }
   .nav-logo-text{
    width:100%;
    display:flex;
    justify-content: center;
    padding:2px;
    margin-right: 50px;

   }
   .nav{
    width:100%;
    display:flex;
    justify-content: center;
    padding:2px;
    
   }





    .content1-heading{
        font-size: 80px;
    }
}

@media only screen and (max-width: 550px)
{

   
    


}

@media only screen and (max-width: 500px)
{

    

}




@media only screen and (max-width: 470px)
{

   .destination{
    width: 100%;
   }

   .destination>img{
    height: 80%;
    width: 100%;
   }

   .content1-heading{
    font-size: 60px;
    }

    .contact-header-subhead-content{
        font-size: 10px;
    }

    .First-name{
        width: 45%;
    }

    .Last-name{
        width: 45%;
    }
    .contact-main-name{
        display:flex;
        flex-wrap:wrap;
        flex-direction:row;
        
    }
    .contact-header-subhead{
        font-size:16px ;
    }
    .contact-header-head-getintouch{
        font-size:1.5em;
    }
    .header{
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        margin:10px 0 0 0;
        font-size: 15px;
    }
    .nav-select{
        display:none;
    
    }
    .header-side {
        display: flex;
        flex-wrap: wrap;
    }
    .header-side-name{
        display: flex;
        flex-wrap:wrap;
        font-size: 11px;
        margin: 10px;
    }
    .content1-heading{
        font-size: 45px ;
        margin:0px;
        padding:0;
        gap:0;
    }  

    section{
        width: 100%;
    }
}
